@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo ao Saint Seiya Online</h1>
    <p> Conteúdo diário sobre Cavaleiros do Zodíaco.</p>
    <p> Acompanhe as últimas notícias de Saint Seiya e de outras obras do mangaká Masami Kurumada</p>
</div>

    <div class="santuario">
        <h1> <p> Tudo que você não sabia a respeito da batalha das doze casas: </p></h1>
        <p> 
O Grande Mestre é o único que pode remover a flecha do peito de Saori. No entanto, os Cavaleiros de Bronze têm somente doze horas para atravessar as doze casas, porque a flecha está afundando cada vez mais no peito da deusa e assim acabará perfurando seu coração. Seiya e seus companheiros decidem ir rapidamente e chegam à casa de Áries, onde encontram Mu, que os convence a reparar suas armaduras. Mu explica-lhes que para derrotarem os Cavaleiros de Ouro, eles devem despertar o Sétimo Sentido. Uma vez com as suas armaduras consertadas, os Cavaleiros de Bronze chegam à casa de Touro e começam a enfrentar o Cavaleiro de Ouro, Aldebaran.</p>    
    </div>

<div class="hades">
        <h1> <p> O que ocorreu de fato a respeito da saga de Hades, fase Elíseos: <br> </p> </h1>
        <a><p>
            Após a terrível batalha no mundo dos mortos, do inferno governado pelo Deus Hades, o mesmo que queria tomar posse do corpo de Shun de Andrômeda e assim criar o mortal Grande Eclipse para cobrir o Sol, os Cavaleiros de Ouro reviveram graças ao Cosmo de Athena, com a intenção de lutarem uma última vez em nome da Deusa. Mu, Aldebaran, Saga, Deathmask, Aiolia, Shaka, Dohko, Milo, Aiolos, Shura, Camus e Aphrodite se sacrificaram elevando os seus Cosmos ao máximo para assim produzirem a luz solar capaz de destruir o Muro das Lamentações, a barreira que impedia que os Cavaleiros e os Espectros chegassem até os Campos Elísios, local onde apenas os Deuses podem entrar. Depois disso, os Cavaleiros de Bronze partem em direção aos Campos Elísios com a missão de entregarem a Armadura de Athena para Saori e destruírem o verdadeiro corpo de Hades. Shiryu, no entanto, decide ficar para trás, sentindo a presença de mais Espectros que aparecem: Sylphid de Basilisco, Queen de Alraune e Gordon de Minotauro. Shiryu combate todos de uma vez, desencadeando a força da Excalibur. Seiya, Hyoga e Shun chegam ao outro lado do Muro das Lamentações, mas encontram um caminho inter-dimensional de tempo e espaço. No final do percurso existe uma luz brilhante, que conduz aos Campos Elísios. Porém, Minos de Griffon, um dos três Juízes do Inferno, sobreviveu a grande explosão e tenta impedi-los. Hyoga também fica para trás com a intenção de enfrentar Minos. Hyoga cria um Esquife de Gelo e consegue prender Minos, enquanto Seiya e Shun saltam pelo caminho inter-dimensional. Minos consegue destruir o gelo e usa sua Marionete Cósmica em Hyoga. Seiya acaba sendo arrastado pela pressão de tempo e espaço, mas então, crescem asas em sua Armadura de Pégaso. Ele percebe que isso ocorreu devido ao sangue de Athena. Seiya resgata Shun, que também tem sua Armadura de Andrômeda protegida por asas e ambos seguem para os Campos Elísios. Hyoga congela os fios da Marionete Cósmica, imobiliza Minos e o derrota com a Execução Aurora. O Cavaleiro de Cisne também salta no caminho inter-dimensional e quando pensa que será destruído, sua Armadura de Cisne também cria asas. Todavia, Minos sobrevive e ataca Hyoga com um fio restante, mas logo, ele é subitamente destruído devido à pressão dimensional, provando que apenas os Deuses podem trilhar sobre esse caminho. Enquanto isso, Shiryu ainda continua enfrentando os três Espectros, que juntos, decidem atacá-lo ao mesmo tempo. Shiryu consegue matar Gordon de Minotauro e Queen de Alraune com a técnica especial ensinada por seu mestre: o Cólera dos Cem Dragões. Contudo, o impacto do golpe é tão grande, que Shiryu é lançado para o caminho inter-dimensional, sendo salvo por Hyoga, que esperava por ele. Sylphid de Basilisco sobrevive ao ataque e sai atrás de Shiryu, mas seu corpo também é desintegrado, quando tenta entrar no caminho inter-dimensional. A Armadura de Dragão também cria asas e ambos os Cavaleiros, também seguem no caminho inter-dimensional. Seiya acorda e percebe que finalmente chegou ao paraíso utópico: os Campos Elísios
        </p>
            </a>    
    </div>    

    <div class="poseidon">
        <h1> <p> Entenda a farsa de Kanon durante a saga de Poseidon: </p> </h1>
        <p>
            Os 4 Cavaleiros de Bronze então, elevam seus Cosmos e se jogam no Portal do Inferno. Seiya, que havia conseguido alcançar o 8º Sentido, acorda na entrada do Submundo e encontra Shun. Agora, ambos devem se apressar e encontrar Saori para lhes-entregar sua Armadura de Athena. Seiya e Shun chegam ao Rio Aqueronte e encontram um barco com um Espectro, Charon de Aqueronte. Charon transporta as pessoas mortas através do Rio Aqueronte. Ele começa a lutar contra os Cavaleiros, mas oferece-lhes uma carona em troca de dinheiro. Shun oferece um pingente de ouro que ele tinha desde criança. Apesar de Charon dizer que isto não é suficiente, aceita dar-lhes uma carona. No meio do caminho, Charon tenta lançar Seiya para fora do barco, que cai no Rio Aqueronte e é arrastado para o fundo por pessoas mortas, que tentaram atravessar a nado. Charon alega que fez isso porque o pagamento de Shun permitia que ele os levasse até aquele lugar. Contudo, Shun consegue salvar Seiya com suas correntes. Seiya se levanta e ataca Charon com os Meteoros de Pégaso e assim, o Espectro acaba caindo para fora do barco, dessa vez. Charon é puxado pelos mortos para o fundo do rio e desesperado, pede para que os Cavaleiros o salvem porque sem sua ajuda, os dois ficariam vagando para sempre pelo rio. Embora Seiya desconfie das intenções de Charon, Shun o resgata. Porém, Charon tenta traí-los novamente, quando o Espectro vê os olhos de Shun e nota nele, uma expressão que nunca tinha visto antes, acreditando que talvez Andrômeda tivesse uma chance de chegar aos Campos Elísios. Charon então, diz que irá levá-los para o outro lado e ainda devolve o pingente para Shun. Contudo, Charon avisa que quando chegarem ao outro lado, eles acertarão suas contas. Quando chegam a superfície, Charon explica que o inferno é dividido em 8 Prisões, 3 Vales, 10 Fossos e 4 Esferas. Então, Charon continua sua batalha contra Seiya. Por ter visto as técnicas de Charon, Seiya consegue matar o Espectro com seu Meteoros de Pégaso. Hyoga, Shiryu, Dohko e Kanon também chegam ao Submundo, mas estão em diferentes partes do mesmo. Seiya e Shun chegam à primeira prisão, conhecida como A Casa do Julgamento.
        </p>
    </div>    

<main class="col-100 fundo-azul">
            <div>
                <ul>
                    <li> <strong> MÍDIAS SOCIAIS</strong> </li>
                    <li><a href="Facebook.html" target="_self" style="cursor: pointer">
                            Facebook</a></li>
                    <li><a href="Instagram.html" target="_self" style="cursor: pointer">
                            Instagram</a></li>
                    <li><a href="tel:(11) 98172-3645" target="_self" style="cursor: pointer">
                            Whatsapp</a></li>
                    <li><a href="mailto:contato@sso.com.br" target="_self" style="cursor: pointer">
                            E-mail</a></li>
                </ul>
            </div>
    </main>
